mark {
    background-color: #dadada;
    color: black;
  }

.form-control:focus {
    box-shadow: none!important;
    border-color: #ced4da!important;
}

.game {
  width: 600px;
  padding: 100px;
  margin: auto;
}

.word_box {
  width: 400px;
  border: 1px solid black;
  padding: 25px;
  margin: auto;
  text-align: center;
  font-size: 16px;
}

.input {
  padding: 15px;
  margin: 10px;
  font-size: 16px;
}

.word_box .highlight {
  background: #dddddd
}

.word_box .correct_highlight {
  color: #00ff55;
}

.word_box .wrong_highlight {
  color: #d40000
}

.word_box span {
  padding: 3px 5px 3px 5px;
}