mark {
    background-color: #dadada;
    color: black;
}

body {
  background: #A5ABB6;
}

.form-control:focus {
    box-shadow: none!important;
    border-color: #ced4da!important;
}

.game {
  width: 65%;
  max-width: 1100px;
  min-width: 1000px;
  padding: 100px;
  position: relative;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
}

.word_box {
  width: 100%;
  height: 160px;
  overflow: hidden;
  padding: 20px;
  background: white;
  text-align: center;
  line-height: 1.6;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  border-radius: 20px;  
}

.word_box span{
  display: inline-block;
  padding: 5px 10px;
  font-size: 26px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-top: 10px;
}

.word_box .highlight {
  background: #1287BA;
  color: white;
  border-radius: 20px;
}

.word_box .correct_highlight {
  color: #23D15D;
}

.word_box .wrong_highlight {
  color: #FF725C
}

.input_div {
  margin: auto;
  max-width: 500px;
}

.input_div input {
  height: 58px;
  padding: 12px 16px;
  font-size: 26px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border-radius: 20px;
}

#timer {
  background: white;
  width: 65px;
  padding: 12px 16px;
  font-size: 22px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  border-radius: 20px;
  height: 58px;
  float: right;
}

#win_screen {
  z-index: 100;
  width: 240px;
  height: 270px;
  padding: 20px;
  margin: auto;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  position: fixed;
  margin: 5% auto;
  left: 0;
  right: 0;
  display: none;
  top: 400px;
  background: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border-radius: 20px;
  box-shadow: 15px 20px 10px #888888;
}


.button {
  background-color: #1287BA;
  color: white;
  border: none;
  padding: 12px 16px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 20px;
  width: 65px;
}

.retry_button {
  background-color: #1287BA;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
  margin: 30px;
  bottom: 10px;
  position: relative;
  border-radius: 20px;
  box-shadow: 3px 5px 5px #888888;
}

.container {
  width: 100%;
  padding: 5%;
}

#footerphoto {
  padding: 5%;
  bottom: 0;
  width: 100%;
  position: relative;
}

#footerphoto img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.col-xs-2 {display:none;}
.col-xs-8 {display:none;}
.col-sm-2 {display:block;}
.col-sm-8 {display:block;}

@media (max-width: 1200px) {
  /* CSS that should be displayed if width less than 800px */
  .game {
    width: 100%;
    padding: 25px;
    min-width: 780px;
    position: relative;
    margin: 1% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
  }
}

@media (max-width:780px) {
  .col-xs-2 {display:block;}
  .col-xs-8 {display:block;}
  .col-sm-2 {display:none;}
  .col-sm-8 {display:none;}

  #footerphoto img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 50%;
  }
}