{% extends "template.html" %}
{% block content %}
        <div class="game">
          <div class="word_box" id="test">
            <span word="0" class="highlight">test</span>
            <span word="1" >try</span>
            <span word="2">test</span>
            <span word="3">try</span>
            <span word="4">test</span>
            <span word="5">try</span>
            <span word="6">test</span>
            <span word="7">try</span>
            <span word="8">test</span>
            <span word="9">try</span>
            <span word="10">test</span>
            <span word="11">try</span>
            <span word="12">test</span>
            <span word="13">try</span>
            <span word="14">test</span>
            <span word="15">try</span>
            <span word="16">test</span>
            <span word="17">try</span>
            <span word="18">test</span>
            <span word="19">try</span>
            <span word="20">test</span>
            <span word="21">try</span>
            <span word="22">test</span>
            <span word="23">try</span>
            <span word="24">test</span>
            <span word="25">try</span>
            <span word="26">test</span>
            <span word="27">try</span>
            <span word="28">test</span>
            <span word="29">try</span>
            
          </div>
            <div class="input">
              <input style="font-size:22px; padding: 10px 20px; height:45px;" size="10" type="text" class="form-control" id="typer" value="" dir="ltr" placeholder="" autocomplete="off" autocorrect="off"
              autocapitalize="off" spellcheck="false" oninput="myGame(this.value)">
            </div>
            <div id="timer">1:00</div>
        </div>
        <script src="{{url_for('static',filename='typer.js')}}"></script>
{% endblock %}