{% extends "template.html" %}
{% block content %}
        <div class="game" id="game">
          <div class="word_box">
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-2">
                <button class="button" onclick="reload()"><i class="fas fa-redo-alt fa-flip-horizontal"></i></button>
              </div>
              <div class="col-sm-8">
                <div class="input_div">
                  <input type="text" class="form-control" id="typer" value="" dir="ltr" placeholder="" autocomplete="off" autocorrect="off"
                  autocapitalize="off" spellcheck="false" oninput="myGame(this.value)">
                </div>
              </div>
              <div class="col-sm-2">
                <div id="timer">
                  60s 
                </div>
              </div>
            </div>
          </div>
        <div id="win_screen">
        </div>
        <script src="{{url_for('static',filename='typer.js')}}"></script>
{% endblock %}